---
layout: page
full_logo: true
title: 
subtitle: 
description: I love Traveling and Gaming and have been working on my portfolio since 2010. I can give your business a new Creative start right away!
sitemap:
  priority: 1.0
---

<!-- //Domain modal -->
<!-- banner section -->
<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">It’s me !</span>
                <h1 class="mb-4 title">Hello, <span class="type-js"><span class="text-js">I’m Shiv Singh</span></span><br>
                    I am a Full Stack Developer</h1>
                <p class="mx-lg-5">I love <strong>Travel</strong> and <strong>FPS Games</strong> and have been working with my portfolio <strong>since 2010</strong> I can give your company a fresh creative beginning right now!
				</p>
            </div>
            <div class="row">
              <div class="col-lg-8 mx-lg-auto col-md-10">
                <p class="text-center mt-lg-5 mt-3"><a href="https://stackexchange.com/users/1978635"><br />
                    <img loading="lazy" class="aligncenter" title="profile for Shiv Singh on Stack Exchange, a network of free, community-driven Q&amp;A sites" src="https://stackexchange.com/users/flair/1978635.png?theme=clean" alt="profile for Shiv Singh on Stack Exchange, a network of free, community-driven Q&amp;A sites" width="208" height="58" /><br />
                    </a></p>
              </div>
            </div>
            <ul class="follow-social">
                <li><p>Follow me </p></li>
                <li><a href="https://github.com/shivsingh7150" target="_blank"><i class="fab fa-github-square"></i></a></li>
              <li><a href="https://www.linkedin.com/in/shivsingh7150/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/joinshivsingh" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="https://twitter.com/joinshivsingh" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //banner section -->
{% include about.html %}
{% include photo-reel.html %}
{% include testimonials.html %}
{% include clients_partners.html %}