<!-- home page about section -->
<section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">My Services</span>
                    <h3 class="title-big"><span>Build your brand</span> and grow your business</h3>
                    <p class="mt-4">I can give your company a fresh creative beginning right now! You can download my résumé to learn more about my professional life as a programmer, designer and photographer.</p>
                    <ul class="service-list mt-md-5 mt-4">
						<li class="service-link"><a href="#">Full Stack Developer</a></li>
                        <li class="service-link"><a href="#">AWS Certified Solutions Architect</a></li>
						<li class="service-link"><a href="#">Magento 2 Certified Professional Developer</a></li>
                        <li class="service-link"><a href="#">iOS and Android Mobile App</a></li>
                        <li class="service-link"><a href="#">Serverless Application Development</a></li>
						<li class="service-link"><a href="#">UI/UX Design and Development</a></li>
                    </ul>
                    <a href="{{ site.url }}/services/" class="btn btn-style btn-empty p-0">View my all services <span></span></a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="position-relative">
                        <img src="{{ "/assets/images/about.jpg" | relative_url }}" alt="Shiv Singh" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->
  
<!-- home page about section -->
<section class="w3l-homeblock2" id="skills">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="{{ site.url }}/assets/images/skills.png" alt="" class="radius-image img-fluid">
                        <div class="position-absolute-images">
                            <img src="{{ "/assets/images/file.png" | relative_url }}" class="img-fluid pos-img" alt="" />
                            <img src="{{ "/assets/images/file1.png" | relative_url }}" class="img-fluid pos-img1" alt="" />
                            <img src="{{ "/assets/images/file2.png" | relative_url }}" class="img-fluid pos-img2" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4">
                    <span class="text">My Featured Skills</span>
                    <h3 class="title-big">I’m using <span>top leading</span>
                        programing & designing frameworks.</h3>
                    <p class="mt-4">I specialize in branding and strategy, and I am passionate about building impressive portfolio work. And I'm always ready to impress those watching with my creativity.</p>
                    <div class="skills-bars mt-5">
                        <div class="progress-info">
                            <h6 class="progress-tittle">Serverless and Headless CMS development</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 97%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="progress-info">
                            <h6 class="progress-tittle">React, Angular, Vue.js, PHP, MySql, DynamoDB
                            </h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="progress-info">
                            <h6 class="progress-tittle">Certified Server Architect</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="progress-info mb-0">
                            <h6 class="progress-tittle">Responsive Web Design</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->
  
<!-- home page about section -->
<section class="w3l-homeblock3" id="awards">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">My Awards and Achievements </span>
                    <h3 class="title-big">Professional awards and
                        honors <span> I’ve reached.</span></h3>
                    <p class="mt-4">Personal awards. Having over 10 years of experience motivated by the desire to achieve success. </p>
                    <div class="reward-list mt-5">
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ "/assets/images/banner.png" | relative_url }}" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Web design awards</span>
                                <p class="reward-item-descr">For Best UX/UI Design App</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ "/assets/images/skills.png" | relative_url }}" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Inovative ideas design Awards</span>
                                <p class="reward-item-descr">For Most Loved Illustration </p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ "/assets/images/banner.png" | relative_url }}" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Creative Design awards</span>
                                <p class="reward-item-descr">For Best UX/UI Project Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self mt-lg-0 mt-md-5 mt-4">
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="{{ "/assets/images/awards.png" | relative_url }}" alt="" class="radius-image img-fluid">
                        <div class="position-absolute-images">
                            <img src="{{ "/assets/images/award.png" | relative_url }}" class="img-fluid pos-img" alt="" />
                            <img src="{{ "/assets/images/award1.png" | relative_url }}" class="img-fluid pos-img1" alt="" />
                            <img src="{{ "/assets/images/award2.png" | relative_url }}" class="img-fluid pos-img2" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->