<section class="wrapper bg-gray wrapper-border">
			<div class="container py-14 py-md-16">
				<div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
					<div class="col-lg-4 mt-lg-2">
						<h2 class="fs-15 text-uppercase text-muted mb-3">Our Clients</h2>
						<h3 class="display-4 mb-3 pe-xxl-5">Trusted by over {{site.happy_customers}}+ clients</h3>
						<p class="lead fs-lg mb-0 pe-xxl-5">We bring solutions to simplify the lives of our customers.</p>
					</div>
					<div class="col-lg-8">
						<div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/dennetworks.png" alt="Dennetworks" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/wforwoman.png" alt="wforwoman" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/puvvnl.png" alt="puvvnl" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/shopforaurelia.png" alt="Shop for aurelia" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/safqaq8.png" alt="Safqaq8" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/awesumdimsum.png" alt="Awesum dimsum" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/lava.png" alt="Lava" /></figure>
							</div>
							<div class="col">
								<figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/z8.png" alt="" /></figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>