<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Srapsware Technologies Pvt Ltd",
  "url": "https://www.srapsware.com/",
  "sameAs": [
    "https://www.facebook.com/srapsware",
    "https://twitter.com/whoisextractor",
    "https://github.com/srapsware",
    "https://www.linkedin.com/company/srapsware",
    "https://www.youtube.com/srapsware?sub_confirmation=1"
  ],
  "logo": "https://www.srapsware.com/assets/img/logo.png"
}
    </script>
<link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/plugins.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/theme/blue.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/font/thicccboi.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/fontawesome6/css/all.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/theme-change.css" | relative_url }}">

