<footer class="bg-navy text-inverse">
  <div class="container pt-15 pt-md-17">
    <div class="d-lg-flex flex-row align-items-lg-center">
      <h3
        class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white footer-talk"
      >
        Excited? Let’s Talk
        <span>You’re our first priority.<br />Rest all can wait.</span>
      </h3>
      <a
        href="/contact-us/"
        class="btn btn-primary rounded-pill mb-0 text-nowrap"
        >Get Your Free Quote</a
      >
    </div>
    <hr class="mt-11 mb-12" />
    <div class="row gy-6 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <img
            class="mb-4"
            src="/assets/img/logo-light.png"
            srcset="/assets/img/logo-light@2x.png 2x"
            alt=""
          />
          <p class="mb-4 text-white">
            {% assign currentYear = 'now' | date: "%Y" | plus:0 %} {% assign
            AllYears = currentYear | minus: 2010 %}
            <span class="h4 text-white">{{ AllYears }}</span> Years of code
            baking <i class="fa-solid fa-heart" style="color: #dc3545"></i>
          </p>
          <nav class="nav social social-white">
            <a href="https://www.facebook.com/srapsware" target="_blank"
              ><i class="uil uil-facebook-f"></i
            ></a>
            <a href="https://twitter.com/srapsware" target="_blank"
              ><i class="uil uil-twitter"></i
            ></a>
            <a href="https://github.com/srapsware" target="_blank"
              ><i class="uil uil-github"></i
            ></a>
            <a href="https://www.linkedin.com/company/srapsware" target="_blank"
              ><i class="uil uil-linkedin"></i
            ></a>
            <a
              href="https://www.youtube.com/srapsware?sub_confirmation=1"
              target="_blank"
              ><i class="uil uil-youtube"></i
            ></a>
          </nav>
          <a
            href="https://app.netlify.com/sites/srapsware/deploys"
            target="_blank"
            ><img
              class="mt-4"
              src="https://api.netlify.com/api/v1/badges/119b806a-849d-40fe-81d2-1b5f8103c605/deploy-status"
          /></a>
          <p class="pt-5 mb-1">Made in the India</p>
          <p class="since-text mb-1">
            Since 2010
            <img
              title="India"
              class="svg-inject in-flag"
              src="/assets/img/icons/india.svg"
            />
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Get in Touch</h4>
          <address class="pe-xl-15 pe-xxl-17">
            GF, Bonito Homes, near Gate No 1, Basai, Sector 70, Noida, Basi
            Bahuddin Nagar, Uttar Pradesh 201307
          </address>
          <a href="https://www.netkingtechnologies.com/"
            ><img
              src="/assets/img/mobrilzour-2.png"
              title="Netkingtechnologies"
          /></a>
          <a href="mailto:sales@srapsware.com"
            >sales<span class="d-none"></span>@<span class="d-none"></span
            >sraps<span class="d-none"></span>ware<span class="d-none"></span
            >.com</a
          ><br />
          +91-7982377273 (Not toll free)
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Learn More</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="/about-our-company/">About Us</a></li>
            <li><a href="/make-payment/">Make Payment</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
            <li>
              <a href="/cancellation-refund-policies/">
                Cancellation/Refund policies</a
              >
            </li>
            <li><a href="/terms-conditions/">Terms and conditions </a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Our Newsletter</h4>
          <p class="mb-5">
            Subscribe to our newsletter to get our news & deals delivered to
            you.
          </p>
          <div class="newsletter-wrapper">
            <div id="mc_embed_signup2">
              <form
                action="https://srapsware.us17.list-manage.com/subscribe/post?u=3aa233d0cc7270b623d1a1c08&id=921c4f7932"
                method="post"
                id="mc-embedded-subscribe-form2"
                name="mc-embedded-subscribe-form"
                class="validate dark-fields"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll2">
                  <div class="mc-field-group input-group form-label-group">
                    <input
                      type="email"
                      value=""
                      name="EMAIL"
                      class="required email form-control"
                      placeholder="Email Address"
                      id="mce-EMAIL2"
                    />
                    <label for="mce-EMAIL2">Email Address</label>
                    <input
                      type="submit"
                      value="Join"
                      name="subscribe"
                      id="mc-embedded-subscribe2"
                      class="btn btn-primary"
                    />
                  </div>
                  <div id="mce-responses2" class="clear">
                    <div
                      class="response"
                      id="mce-error-response2"
                      style="display: none"
                    ></div>
                    <div
                      class="response"
                      id="mce-success-response2"
                      style="display: none"
                    ></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                  <div class="clear"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 pt-6">
        <p class="mb-4">
          &copy; 2010-{{ 'now' | date: "%Y" }} Srapsware Technologies Pvt Ltd,
          All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
