  <ul class="navbar-nav ml-auto">
  {% assign i = 0 %}
  {% for item in site.data.navigation %}
  {% if item.sublinks[0] %}
	<li class="nav-item dropdown {% if item.url == page.url %}active{% endif %}">
      <a class="nav-link dropdown-toggle" id="navbarDropdown-{{ i }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  {{ item.title }} <span class="fa fa-angle-down"></span></a>
      <ul class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ i }}">
          {% for sublink in item.sublinks %}
            <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
          {% endfor %}
        </div>
      </ul>
    </li>
	
	{% else %}
	<li class="nav-item {% if item.url == page.url %}active{% endif %}">
      <a  class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
    </li>
	{% endif %}
	{% assign i = i | plus:1 %}
{% endfor %}
  </ul>
  
  