<section class="wrapper bg-gray angled lower-end">
    <div class="container py-14 py-md-16">
        <div class="row align-items-center mb-7">
            <div class="col-md-8 col-lg-8 col-xl-7 col-xxl-6 pe-lg-17">
                <h2 class="display-4 mb-3">OUR CUSTOMERS AS WELL AS OUR WORK</h2>
                <p class="lead fs-lg">We love to turn ideas into beautiful things.</p>
            </div>
        </div>
        <div>

            {% assign sorted = site.portfolio | reverse %}

            {% for portfolio in sorted limit:9 %}

            {% for porttech in page.technologies %}

            <h3>Cat: {{ porttech }}</h3>

            {% for tech in portfolio.technologies %}

            {% if porttech == tech %}

            <h3>Found : {{ tech }} in {{ portfolio.title }}</h3>

            {% break %}

            {% endif %}
            {% endfor %}

            {% endfor %}






            {% endfor %}


        </div>
    </div>
</section>