		<aside class="col-lg-4 sidebar mt-8 mt-lg-6">
						<div class="widget">
							<h4 class="widget-title mb-3">Popular Posts</h4>
							<ul class="image-list">
							{% for post in site.posts limit:5 %}
								<li>
									<figure class="rounded"><a href="{{post.url}}"><img src="{{ post.post_image | relative_url }}" alt="{{post.title}}" /></a></figure>
									<div class="post-content">
										<h6 class="mb-2"> <a class="link-dark" href="{{post.url}}">{{post.title}}</a> </h6>
										<ul class="post-meta">
											<li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ post.date | date: "%e %b, 20%y" }}</span></li>
											 
											{% capture words %}
      {{ post.content | number_of_words | minus: 180 }}
   {% endcapture %}
   {% unless words contains "-" %}
     {% assign minutes = words | plus: 180 | divided_by: 180 %}
	 
	 {% if minutes %}
	  <li class="post-comments"><a href="#"><i class="uil uil-book"></i> 
        {{ minutes }}
     {% if minutes == 1 %}
        {{ " minute read" }}
     {% else %}
        {{ " minutes read" }}
     {% endif %}
	 </a></li>
	 {% endif %}
	 
   {% endunless %}
										</ul>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title mb-3">Categories</h4>
							<ul class="unordered-list bullet-primary text-reset">
							{% for category in site.categories %}
								<li><a href="/category/{{ category[0] | slugify }}/">{{ category[0] }} ({{ category[1].size }})</a></li>
							{% endfor %}
							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title mb-3">Tags</h4>
							<ul class="list-unstyled tag-list">
							{% for tag in site.tags %}
								<li><a href="/tag/{{ tag[0] | slugify }}/" class="btn btn-soft-ash btn-sm rounded-pill">{{ tag[0] }}</a></li>
							{% endfor %}
							</ul>
						</div>
					</aside>
					