<section class="wrapper bg-gray angled lower-end">
			<div class="container py-14 py-md-16">
				<div class="row align-items-center mb-7">
					<div class="col-md-8 col-lg-8 col-xl-7 col-xxl-6 pe-lg-17">
						<h2 class="display-4 mb-3">OUR CUSTOMERS AS WELL AS OUR WORK</h2>
						<p class="lead fs-lg">We love to turn ideas into beautiful things.</p>
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
				<div class="carousel owl-carousel grid-view" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}'>
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project.html"> <img src="/assets/img/photos/pd1.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Coffee</div>
								<h2 class="post-title h3">Cras Fermentum Sem</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project2.html"> <img src="/assets/img/photos/pd2.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-red">Stationary</div>
								<h2 class="post-title h3">Mollis Ipsum Mattis</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project3.html"> <img src="/assets/img/photos/pd3.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-orange">Branding</div>
								<h2 class="post-title h3">Ipsum Ultricies Cursus</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project2.html"> <img src="/assets/img/photos/pd4.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-purple">Product</div>
								<h2 class="post-title h3">Inceptos Euismod Egestas</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project3.html"> <img src="/assets/img/photos/pd5.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-leaf">Print</div>
								<h2 class="post-title h3">Ipsum Mollis Vulputate</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
					<div class="item">
						<figure class="rounded mb-6"><a href="single-project.html"> <img src="/assets/img/photos/pd6.jpg" alt="" /></a></figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-aqua">Workshop</div>
								<h2 class="post-title h3">Porta Ornare Cras</h2>
							</div>
							<!-- /.post-header -->
						</div>
						<!-- /.project-details -->
					</div>
					<!-- /.item -->
				</div>
				<!-- /.owl-carousel -->
			</div>
			<!-- /.container -->
		</section>