<section class="wrapper bg-light angled lower-end">
			<div class="container py-14 py-md-16">
				<h2 class="display-5 mb-4 text-center">WE WRITE ABOUT</h2>
				<h3 class="text-center">We write about our news and updates with new applications and technical announcements.</h3>
				<div class="carousel owl-carousel gap-small blog grid-view" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}, "1200":{"items": "4"}}'>
				  {% for post in site.posts %}
					<div class="item">
						<div class="item-inner">
							<article>
								<div class="card">
									<figure class="card-img-top overlay overlay1 hover-scale"><a href="{{post.url}}"> <img src="{{ post.post_image }}" alt="{{ post.title }}" /></a>
										<figcaption>
											<h5 class="from-top mb-0">Read More</h5>
										</figcaption>
									</figure>
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
											{% for category in post.categories %}
												<a href="#" class="hover" rel="category">{{ post.category }}</a>
											{% endfor %}
											</div>
											<!-- /.post-category -->
											<h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="{{post.url}}">{{ post.title }}</a></h2>
										</div>
										<!-- /.post-header -->
										<div class="post-content">
											{{post.excerpt | strip_html | truncatewords: "25"}}
										</div>
										<!-- /.post-content -->
									</div>
									<!--/.card-body -->
									<div class="card-footer">
										<ul class="post-meta d-flex mb-0">
											<li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ post.date | date: "%e %b, 20%y" }}</span></li>
											<li class="post-comments"><a href="#"><i class="uil uil-comment"></i>4</a></li>
											<li class="post-likes ms-auto"><a href="#"><i class="uil uil-heart-alt"></i>5</a></li>
										</ul>
										<!-- /.post-meta -->
									</div>
									<!-- /.card-footer -->
								</div>
								<!-- /.card -->
							</article>
							<!-- /article -->
						</div>
						<!-- /.item-inner -->
					</div>
					{% endfor %}
					<!-- /.item -->
					
					<!-- /.item -->
				</div>
				<!-- /.owl-carousel -->
			</div>
			<!-- /.container -->
		</section>