<!-- home page about section -->
<section class="w3l-clients" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <div class="position-relative px-lg-5">
                        <img src="{{ "/assets/images/clients.png" | relative_url }}" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <span class="text">Testimonials</span>
                    <h3 class="title-big">What my <span>clients think</span> about Me</h3>
                    <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Excellent work, sole concentration and fixed the issue where others couldnt. Thankyou very much.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img"><img src="{{ "/assets/images/team1.jpg" | relative_url }}" class="img-fluid"
                                                alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Buy Fast Hosting</h3>
                                            <p class="indentity">United Kingdom</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>One of the best freelancer i have used on this platform. He is perfect and very sure of what he does, he solve the issues i had with ease and everything now work smoothly. I recommend him to every one that need his/her project to be handle in a professional manner.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img"><img src="{{ "/assets/images/team2.jpg" | relative_url }}" class="img-fluid"
                                                alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Umar M</h3>
                                            <p class="indentity">Nigeria</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>A big proffesional, this person have really knowedge in servers.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img"><img src="{{ "/assets/images/team3.jpg" | relative_url }}" class="img-fluid"
                                                alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Miguel A L</h3>
                                            <p class="indentity">Spain</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>2 nd time I use Shiv Services. And fast, expert and on a budget</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img"><img src="{{ "/assets/images/team4.jpg" | relative_url }}" class="img-fluid"
                                                alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Samuel N</h3>
                                            <p class="indentity">France</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Easily helped me to solve problems with our configuration. Clear communication and very good skills in understanding configuratioon problems.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img"><img src="{{ "/assets/images/team2.jpg" | relative_url }}" class="img-fluid"
                                                alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Blucloud S</h3>
                                            <p class="indentity">Italy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>