.footer-talk > span{
    font-size: 21px;
}
#map {
    height: 500px;
}
#disqus_thread iframe:nth-child(1), #disqus_thread iframe:nth-child(3) {
    display: none !important;
}
.portfolio-item-category {
    padding-right: 10px;
}
.portfolio-item-category:last-child {
    padding-right: 0px;
}
.card-body h2.post-title.h3.mt-1.mb-3 {
    min-height: 63px;
}

.card-body .post-content {
    min-height: 142px;
}
#top_header-sticky-wrapper {
    z-index: 99;
}
#top_header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .11);
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
    background-color: #fff;
    z-index: 99;
}
.utterances {
    margin-left: 0px !important;
    max-width: 100% !important;
}
.highlight pre {
    padding: 16px;
}
.timeline-header {
    padding-left: 0px !important;
}