:root {
  --primary-color: #00539c;
  --primary-light: #fcf1e7;
  --secondary-color: #75a9d6;
  --font-color: #234969;
  --bg-color: #ffffff;
  --heading-color: #1f2044;
  --border-radius: 6px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #ddd;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f4f4f4;
  --bg-lightgrey: #f8f9fa;
  --btn-bg: #e2e8f0;
  --ggs: 1;
  --footer-bg: #343f52;
  --nav-color: #ffffff;
  --bg-dark: #262b32;
  --bg-light: #fefefe;
}

[data-theme="dark"] {
  --primary-color: #00539c;
  --primary-light: #7e4c45;
  --secondary-color: #75a9d6;
  --font-color: #b7b7b7;
  --bg-color: #121212;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --iframe-filter: grayscale(100%);
  --bg-grey: #0b0d0e;
  --bg-lightgrey: #000;
  --btn-bg: #2a2a2a;
  --ggs: 1;
  --footer-bg: #121212;
  --nav-color: #eeeeee;
  --bg-dark: #121212;
  --bg-light: #121212;
}

[data-theme="dark"] img {
  filter: brightness(0.8) contrast(1.2);
}

/*-- toggle switch --*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

/*-- //toggle switch --*/

/*-- dark and light mode styling --*/
.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
  color: var(--heading-color);
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
}

.mode-container i.gg-moon {
  display: block;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}